Repository rodekruis/IBF-system, pull requests merged in 2025-03, with the labels that each got.

#2031 feat: rename stopped to userTrigger
  services/API-service/migration/1741186768255-UserTrigger.ts
  services/API-service/src/api/event/dto/event-place-code.dto.ts
  services/API-service/src/api/event/event-place-code.entity.ts
  services/API-service/src/api/event/event.controller.ts
  services/API-service/src/api/event/event.service.ts
  services/API-service/src/api/user/user.entity.ts
  services/API-service/src/api/user/user.service.spec.ts
  services/API-service/src/shared/data.model.ts
Labels: set-trigger-32042

#2029 Add e2e test: "Click on area in triggered areas list in chat"
  interfaces/IBF-dashboard/src/app/components/event-switcher/event-switcher.component.html
  tests/e2e/Pages/ChatComponent.ts
  tests/e2e/Pages/MapComponent.ts
  tests/e2e/tests/ChatComponent/ChatComponentTriggeredAreasList.ts
  tests/e2e/tests/tests.spec.ts
Labels: test

#2042 Feat.purple for warning throughout portal
  interfaces/IBF-dashboard/.lintstagedrc.js
  interfaces/IBF-dashboard/build-prod.js
  interfaces/IBF-dashboard/src/app/app.component.html
  interfaces/IBF-dashboard/src/app/components/aggregates/aggregates.component.spec.ts
  interfaces/IBF-dashboard/src/app/components/aggregates/aggregates.component.ts
  interfaces/IBF-dashboard/src/app/components/areas-of-focus-summary/areas-of-focus-summary.component.html
  interfaces/IBF-dashboard/src/app/components/areas-of-focus-summary/areas-of-focus-summary.component.ts
  interfaces/IBF-dashboard/src/app/components/chat/chat.component.html
  interfaces/IBF-dashboard/src/app/components/chat/chat.component.ts
  interfaces/IBF-dashboard/src/app/components/community-notification-popup/community-notification-popup.component.ts
  interfaces/IBF-dashboard/src/app/components/dialogue-turn/dialogue-turn.component.html
  interfaces/IBF-dashboard/src/app/components/dialogue-turn/dialogue-turn.component.ts
  interfaces/IBF-dashboard/src/app/components/event-speech-bubble/event-speech-bubble.component.html
  interfaces/IBF-dashboard/src/app/components/event-speech-bubble/event-speech-bubble.component.scss
  interfaces/IBF-dashboard/src/app/components/event-speech-bubble/event-speech-bubble.component.ts
  interfaces/IBF-dashboard/src/app/components/event-switcher/event-switcher.component.html
  interfaces/IBF-dashboard/src/app/components/export-view/export-view.component.ts
  interfaces/IBF-dashboard/src/app/components/ibf-guide-button/ibf-guide-button.component.ts
  interfaces/IBF-dashboard/src/app/components/matrix/matrix.component.ts
  interfaces/IBF-dashboard/src/app/components/set-trigger-confirm-popover/set-trigger-confirm-popover.component.html
  interfaces/IBF-dashboard/src/app/components/set-trigger-confirm-popover/set-trigger-confirm-popover.component.scss
  interfaces/IBF-dashboard/src/app/components/set-trigger-confirm-popover/set-trigger-confirm-popover.component.spec.ts
  interfaces/IBF-dashboard/src/app/components/set-trigger-confirm-popover/set-trigger-confirm-popover.component.ts
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.html
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.scss
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.spec.ts
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.ts
  interfaces/IBF-dashboard/src/app/components/timeline/timeline.component.html
  interfaces/IBF-dashboard/src/app/components/timeline/timeline.component.scss
  interfaces/IBF-dashboard/src/app/components/user-state/user-state.component.html
  interfaces/IBF-dashboard/src/app/components/user-state/user-state.component.ts
  interfaces/IBF-dashboard/src/app/mocks/event-state.mock.ts
  interfaces/IBF-dashboard/src/app/pages/dashboard/status-report/status-report.page.ts
  interfaces/IBF-dashboard/src/app/pages/login/login.page.html
  interfaces/IBF-dashboard/src/app/services/api.service.ts
  interfaces/IBF-dashboard/src/app/services/event.service.ts
  interfaces/IBF-dashboard/src/app/services/map-legend.service.ts
  interfaces/IBF-dashboard/src/app/services/map.service.ts
  interfaces/IBF-dashboard/src/app/shared.module.ts
  interfaces/IBF-dashboard/src/app/types/event-state.ts
  interfaces/IBF-dashboard/src/assets/i18n/en.json
  interfaces/IBF-dashboard/src/global.scss
  interfaces/IBF-dashboard/src/theme/variables.scss
  tests/e2e/Pages/AggregatesComponent.ts
  tests/e2e/Pages/ChatComponent.ts
  tests/e2e/Pages/TimelineComponent.ts
  tests/e2e/testData/styles.enum.ts
  tests/e2e/tests/ChatComponent/ChatComponentTriggeredAreasList.ts
  tests/e2e/tests/TimelineComponent/TimelineComponentDisabled.ts
  tests/e2e/tests/TimelineComponent/TimelineComponentNotClickable.ts
  tests/e2e/tests/tests.spec.ts
Labels: set-trigger-32042

#2030 feat: popups to set trigger AB#34114
  interfaces/IBF-dashboard/.lintstagedrc.js
  interfaces/IBF-dashboard/build-prod.js
  interfaces/IBF-dashboard/src/app/analytics/analytics.enum.ts
  interfaces/IBF-dashboard/src/app/app.component.html
  interfaces/IBF-dashboard/src/app/components/aggregates/aggregates.component.spec.ts
  interfaces/IBF-dashboard/src/app/components/aggregates/aggregates.component.ts
  interfaces/IBF-dashboard/src/app/components/areas-of-focus-summary/areas-of-focus-summary.component.html
  interfaces/IBF-dashboard/src/app/components/areas-of-focus-summary/areas-of-focus-summary.component.ts
  interfaces/IBF-dashboard/src/app/components/chat/chat.component.html
  interfaces/IBF-dashboard/src/app/components/chat/chat.component.scss
  interfaces/IBF-dashboard/src/app/components/chat/chat.component.ts
  interfaces/IBF-dashboard/src/app/components/community-notification-popup/community-notification-popup.component.ts
  interfaces/IBF-dashboard/src/app/components/date-button/date-button.component.html
  interfaces/IBF-dashboard/src/app/components/date-button/date-button.component.scss
  interfaces/IBF-dashboard/src/app/components/dialogue-turn/dialogue-turn.component.html
  interfaces/IBF-dashboard/src/app/components/dialogue-turn/dialogue-turn.component.scss
  interfaces/IBF-dashboard/src/app/components/dialogue-turn/dialogue-turn.component.ts
  interfaces/IBF-dashboard/src/app/components/event-speech-bubble/event-speech-bubble.component.html
  interfaces/IBF-dashboard/src/app/components/event-speech-bubble/event-speech-bubble.component.scss
  interfaces/IBF-dashboard/src/app/components/event-speech-bubble/event-speech-bubble.component.ts
  interfaces/IBF-dashboard/src/app/components/event-switcher/event-switcher.component.html
  interfaces/IBF-dashboard/src/app/components/export-view/export-view.component.ts
  interfaces/IBF-dashboard/src/app/components/ibf-guide-button/ibf-guide-button.component.ts
  interfaces/IBF-dashboard/src/app/components/matrix/matrix.component.ts
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.html
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.scss
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.spec.ts
  interfaces/IBF-dashboard/src/app/components/set-trigger-popover/set-trigger-popover.component.ts
  interfaces/IBF-dashboard/src/app/components/timeline/timeline.component.html
  interfaces/IBF-dashboard/src/app/components/timeline/timeline.component.scss
  interfaces/IBF-dashboard/src/app/components/user-state/user-state.component.html
  interfaces/IBF-dashboard/src/app/components/user-state/user-state.component.ts
  interfaces/IBF-dashboard/src/app/mocks/event-state.mock.ts
  interfaces/IBF-dashboard/src/app/pages/dashboard/dashboard.page.scss
  interfaces/IBF-dashboard/src/app/pages/dashboard/status-report/status-report.page.ts
  interfaces/IBF-dashboard/src/app/pages/login/login.page.html
  interfaces/IBF-dashboard/src/app/services/api.service.ts
  interfaces/IBF-dashboard/src/app/services/event.service.ts
  interfaces/IBF-dashboard/src/app/services/map-legend.service.ts
  interfaces/IBF-dashboard/src/app/services/map.service.ts
  interfaces/IBF-dashboard/src/app/services/timeline.service.ts
  interfaces/IBF-dashboard/src/app/shared.module.ts
  interfaces/IBF-dashboard/src/app/types/event-state.ts
  interfaces/IBF-dashboard/src/assets/i18n/en.json
  interfaces/IBF-dashboard/src/global.scss
  interfaces/IBF-dashboard/src/theme/variables.scss
  services/API-service/src/scripts/json/countries.json
  services/API-service/src/scripts/mock.service.ts
  tests/e2e/Pages/AggregatesComponent.ts
  tests/e2e/Pages/ChatComponent.ts
  tests/e2e/Pages/TimelineComponent.ts
  tests/e2e/testData/styles.enum.ts
  tests/e2e/tests/ChatComponent/ChatComponentTriggeredAreasList.ts
  tests/e2e/tests/TimelineComponent/TimelineComponentDisabled.ts
  tests/e2e/tests/TimelineComponent/TimelineComponentNotClickable.ts
  tests/e2e/tests/tests.spec.ts
Labels: set-trigger-32042

#2051 Feat.user trigger changes
  interfaces/IBF-dashboard/src/app/components/chat/chat.component.html
  interfaces/IBF-dashboard/src/app/components/disaster-type/disaster-type.component.html
  interfaces/IBF-dashboard/src/app/components/disaster-type/disaster-type.component.ts
  interfaces/IBF-dashboard/src/app/components/event-speech-bubble/event-speech-bubble.component.html
  interfaces/IBF-dashboard/src/app/components/timeline/timeline.component.html
  interfaces/IBF-dashboard/src/app/components/timeline/timeline.component.spec.ts
  interfaces/IBF-dashboard/src/app/components/user-state/user-state.component.html
  interfaces/IBF-dashboard/src/app/components/user-state/user-state.component.ts
  interfaces/IBF-dashboard/src/app/mocks/disaster-type.mock.ts
  interfaces/IBF-dashboard/src/app/mocks/event-state.mock.ts
  interfaces/IBF-dashboard/src/app/models/country.model.ts
  interfaces/IBF-dashboard/src/app/services/event.service.ts
  interfaces/IBF-dashboard/src/assets/i18n/en.json
  services/API-service/src/api/country/country-disaster.entity.ts
  services/API-service/src/api/country/dto/add-countries.dto.ts
  services/API-service/src/api/event/event.service.ts
  services/API-service/src/api/notification/dto/content-event-email.dto.ts
  services/API-service/src/api/notification/dto/notification-date-per-event.dto.ts
  services/API-service/src/api/notification/email/email.service.ts
  services/API-service/src/api/notification/email/mjml.service.ts
  services/API-service/src/api/notification/email/mjml/body-event.ts
  services/API-service/src/api/notification/email/mjml/event-admin-area-table.ts
  services/API-service/src/api/notification/notification-content/notification-content.service.ts
  services/API-service/src/api/process-pipeline/process-pipeline.controller.ts
  services/API-service/src/api/process-pipeline/process-pipeline.service.ts
  services/API-service/src/scripts/interfaces/country.interface.ts
  services/API-service/src/scripts/json/countries.json
  services/API-service/src/shared/data.model.ts
  tests/e2e/Pages/ChatComponent.ts
  tests/e2e/Pages/TimelineComponent.ts
  tests/e2e/tests/AggregatesComponent/AggregateComponentHeaderColour.ts
  tests/e2e/tests/AggregatesComponent/AggregateComponentTitleHover.ts
  tests/e2e/tests/ChatComponent/ChatComponentTriggeredAreasList.ts
  tests/e2e/tests/TimelineComponent/TimelineComponentNotClickable.ts
  tests/e2e/tests/tests.spec.ts
  tests/integration/helpers/API-service/dto/create-country.dto.ts
  tests/integration/package-lock.json
Labels: set-trigger-32042

#2053 Fix.timestamp check
  services/API-service/src/api/event/event.service.ts
Labels: set-trigger-32042

#2067 Add multiple tests configurtation
  .github/actions/e2e/action.yml
  .github/workflows/workflow-pull_request.yml
  example.env
  tests/e2e/.gitignore
  tests/e2e/Pages/TimelineComponent.ts
  tests/e2e/playwright.config.ts
  tests/e2e/testData/UgandaDroughtWarning.json
  tests/e2e/testData/UgandaFloodsNoTrigger.json
  tests/e2e/testData/UgandaFloodsTrigger.json
  tests/e2e/testData/types.ts
  tests/e2e/tests/tests.spec.ts
Labels: dev, test, devops
